<nav class="cd-nav-container" id="cd-nav">
  <header>
    <h3>Navigation</h3>
    <a href="#0" class="cd-close-nav">Close</a>
  </header>
  <ul class="cd-nav list-unstyled">
    <!--li class="cd-selected" data-menu="index"-->
    <li data-menu="index">
      <a href="/">
        <span>
          <i class="glyphicon glyphicon-home"></i>
        </span>
        <p>Home</p>
      </a>
    </li>
    <li data-menu="my-sites">
      <a href="/sites">
        <span>
          <i class="glyphicon glyphicon-globe"></i>
        </span>
        <p>My Sites</p>
      </a>
    </li>
    <li data-menu="#">
      <a href="/mocks/todos">
        <span>
          <i class="glyphicon glyphicon-tasks"></i>
        </span>
        <p>To Dos</p>
      </a>
    </li>
  </ul>
</nav>
