.page-inner {
  background-color: #ffffff; }

.page-sidebar-fixed.page-header-fixed .page-inner {
  /* make the sidebar wider */
  padding: 60px 0 50px 200px; }

/* make the active link in the breadcrumb match the Suite H blue */
.page-breadcrumb ol.breadcrumb li.active {
  color: #2FABE3 !important; }

/* pop up menu with profile image and links */
.menu-wrap a {
  color: #999; }

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #2FABE3; }

/* replace Profile Cover Image with a custom image*/
.profile-cover {
  background: url("../images/profile-cover-sunset.jpg");
  background-position: center center; }

/* changed badge color to Suite H blue */
.badge.badge-success {
  background: #2FABE3; }

/* page content */
.page-content {
  background: #f5f5f5; }

/* Tables */
/* This is a global override so that all tables share the same height, as well as fixing line height issues  */
.table td, .table > tbody > tr > td, .table > tbody > tr > th {
  padding: 10px !important;
  min-height: 60px !important;
  height: 60px !important;
  line-height: 60px !important; }

/* Responsive Tables */
.table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 20px 15px !important;
  min-height: 50px !important;
  height: 50px !important;
  line-height: 50px !important; }

/* Remove the margin from the main-content container */
#main-wrapper {
  margin: 0;
  padding: 20px;
  background: #ffffff; }

/* Large Icons for use in Dashboard and Media pages  */
.info-box .info-box-stats {
  float: left;
  width: 100%; }
  .info-box .info-box-stats a {
    text-decoration: none; }
  .info-box .info-box-stats span.info-box-title {
    font-size: 24px;
    float: left; }
  .info-box .info-box-stats p {
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;
    text-align: right; }

.info-box .info-box-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0089c7+0,00a896+100 */
  background: #0089c7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0089c7 0%, #00a896 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0089c7 0%, #00a896 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0089c7 0%, #00a896 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089c7', endColorstr='#00a896',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .info-box .info-box-icon i {
    display: block;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
    color: #ffffff !important; }

.info-box p.counter {
  display: block;
  float: right;
  text-align: right;
  font-size: 50px;
  line-height: 50px;
  font-weight: 100;
  margin-top: 50px; }

/* Changing the panel classes for the Large Icons */
.panel {
  border: 1px solid #cccccc !important; }

/* Gallery styles */
.cd-gallery li {
  border: 1px solid #ccc; }
  .cd-gallery li .cd-item-wrapper {
    margin: 10px; }
    .cd-gallery li .cd-item-wrapper li {
      left: 0;
      width: 100%;
      max-width: 100%; }
      .cd-gallery li .cd-item-wrapper li img {
        max-width: 100%;
        border: 1px solid #ccc; }
  .cd-gallery li .cd-item-info {
    padding: 10px;
    text-align: center; }
  .cd-gallery li .cd-item-details {
    padding: 1em; }
    .cd-gallery li .cd-item-details a {
      margin: 1em 0; }
      .cd-gallery li .cd-item-details a:hover {
        color: inherit; }
    .cd-gallery li .cd-item-details .btn {
      width: 100%; }

ol.cd-dots {
  display: none; }

.team {
  overflow: hidden; }

/* This stylesheet generated by Transfonter (http://transfonter.org) */
@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Black.eot");
  src: url("/assets/fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Black.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Oblique.eot");
  src: url("/assets/fonts/AvenirLTStd-Oblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Oblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Oblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-MediumOblique.eot");
  src: url("/assets/fonts/AvenirLTStd-MediumOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-MediumOblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-MediumOblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Light.eot");
  src: url("/assets/fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Light.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Light.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Roman.eot");
  src: url("/assets/fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Roman.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-BlackOblique.eot");
  src: url("/assets/fonts/AvenirLTStd-BlackOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-BlackOblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-BlackOblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Heavy.eot");
  src: url("/assets/fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Heavy.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-LightOblique.eot");
  src: url("/assets/fonts/AvenirLTStd-LightOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-LightOblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-LightOblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Book.eot");
  src: url("/assets/fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Book.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Book.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-HeavyOblique.eot");
  src: url("/assets/fonts/AvenirLTStd-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-HeavyOblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-HeavyOblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-BookOblique.eot");
  src: url("/assets/fonts/AvenirLTStd-BookOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-BookOblique.woff") format("woff"), url("/assets/fonts/AvenirLTStd-BookOblique.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("/assets/fonts/AvenirLTStd-Medium.eot");
  src: url("/assets/fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AvenirLTStd-Medium.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Avenir LT Std', sans-serif !important; }

p {
  font-size: 16px;
  line-height: 30px;
  color: #666666; }

h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #333; }

h3 {
  font-family: 'Avenir LT Std', sans-serif !important; }

li {
  font-family: 'Avenir LT Std', sans-serif !important; }

/* Increasing the font size of the Site Names in the My Sites page */
.cd-item-info b a {
  font-size: 24px; }

/* Set the font sizes for all the Collections table */
.table-responsive .collections {
  font-size: 15px;
  font-weight: 100; }

/* Set the font sizes for all the Collections table headers */
.table-responsive .dataTables_wrapper th {
  font-size: 16px;
  line-height: 24px !important;
  font-weight: bold; }

.btn {
  transition: all 0.1s ease-in-out;
  font-size: 13px;
  font-weight: 900;
  min-height: 50px;
  line-height: 50px;
  background: #ffffff;
  padding: 0 20px;
  text-transform: uppercase;
  min-width: 100px; }
  .btn i {
    margin-right: 5px; }
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

.btn-default {
  color: #333;
  border: 1px solid #333; }
  .btn-default:hover {
    color: #FFF;
    background: #333; }
  .btn-default:focus, .btn-default:active, .btn-default:active:focus {
    color: #fff;
    background: #333; }

.btn-default-on {
  color: #FFF;
  background: #333; }
  .btn-default-on:hover {
    color: #333;
    border: 1px solid #333;
    background: #FFF; }
  .btn-default-on:focus, .btn-default-on:active, .btn-default-on:active:focus {
    color: #fff;
    background: #333; }

.btn-primary {
  color: #FF9551;
  border: 1px solid #FF9551; }
  .btn-primary:hover {
    color: #FFF;
    background: #FF9551; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    color: #fff;
    background: #FF9551; }

.btn-primary-on {
  color: #FFF;
  background: #FF9551; }
  .btn-primary-on:hover {
    color: #FF9551;
    border: 1px solid #FF9551;
    background: #FFF; }
  .btn-primary-on:focus, .btn-primary-on:active, .btn-primary-on:active:focus {
    color: #fff;
    background: #FF9551; }

.btn-info {
  color: #35ACE2;
  border: 1px solid #35ACE2; }
  .btn-info:hover {
    color: #FFF;
    background: #35ACE2; }
  .btn-info:focus, .btn-info:active, .btn-info:active:focus {
    color: #fff;
    background: #35ACE2; }

.btn-info-on {
  color: #FFF;
  background: #35ACE2; }
  .btn-info-on:hover {
    color: #35ACE2;
    border: 1px solid #35ACE2;
    background: #FFF; }
  .btn-info-on:focus, .btn-info-on:active, .btn-info-on:active:focus {
    color: #fff;
    background: #35ACE2; }

.btn-success {
  color: #25A996;
  border: 1px solid #25A996; }
  .btn-success:hover {
    color: #FFF;
    border: 1px solid #25A996;
    background: #25A996; }
  .btn-success:focus, .btn-success:active, .btn-success:active:focus {
    color: #fff;
    background: #25A996; }

.btn-success-on {
  color: #FFF;
  background: #25A996; }
  .btn-success-on:hover {
    color: #25A996;
    border: 1px solid #25A996;
    background: #FFF; }
  .btn-success-on:focus, .btn-success-on:active, .btn-success-on:active:focus {
    color: #fff;
    background: #25A996; }

.btn-warning {
  color: #F6C74D;
  border: 1px solid #F6C74D; }
  .btn-warning:hover {
    color: #FFF;
    background: #F6C74D; }
  .btn-warning:focus, .btn-warning:active, .btn-warning:active:focus {
    color: #fff;
    background: #F6C74D; }

.btn-warning-on {
  color: #FFF;
  background: #F6C74D; }
  .btn-warning-on:hover {
    color: #F6C74D;
    border: 1px solid #F6C74D;
    background: #FFF; }
  .btn-warning-on:focus, .btn-warning-on:active, .btn-warning-on:active:focus {
    color: #fff;
    background: #F6C74D; }

.btn-danger {
  color: #F95754;
  border: 1px solid #F95754; }
  .btn-danger:hover {
    color: #FFF;
    background: #F95754; }
  .btn-danger:focus, .btn-danger:active, .btn-danger:active:focus {
    color: #fff;
    background: #F95754; }

.btn-danger-on {
  color: #FFF;
  background: #F95754; }
  .btn-danger-on:hover {
    color: #F95754;
    border: 1px solid #F95754;
    background: #FFF; }
  .btn-danger-on:focus, .btn-danger-on:active, .btn-danger-on:active:focus {
    color: #fff;
    background: #F95754; }

/* custom jumbotron graphics */
.jumbotron-graphic {
  float: left;
  width: 100%;
  min-height: 140px;
  height: 100%;
  padding: 20px;
  position: relative;
  background: linear-gradient(135deg, RGBA(43, 171, 228, 0.9), RGBA(0, 169, 150, 0.3)), url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/congruent_pentagon.png"); }
  .jumbotron-graphic .jumbotron-icon {
    float: left;
    margin-right: 20px; }
    .jumbotron-graphic .jumbotron-icon i {
      display: inline-block;
      color: #FFF;
      font-size: 100px;
      line-height: 100px; }
  .jumbotron-graphic .jumbotron-content {
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 0;
    vertical-align: middle; }
    .jumbotron-graphic .jumbotron-content h2 {
      float: left;
      font-size: 30px;
      line-height: 65px;
      font-weight: 500;
      color: #fff; }
      @media screen and (max-width: 1200px) {
        .jumbotron-graphic .jumbotron-content h2 {
          font-size: 24px; } }
    .jumbotron-graphic .jumbotron-content p.counter {
      float: right;
      font-size: 60px;
      margin-top: 25px;
      color: #fff; }
      @media screen and (max-width: 1200px) {
        .jumbotron-graphic .jumbotron-content p.counter {
          font-size: 48px; } }

.jumbotron-graphic-secondary {
  float: left;
  width: 100%;
  min-height: 140px;
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  background: #fff; }
  .jumbotron-graphic-secondary .jumbotron-icon {
    float: left;
    margin-right: 20px; }
    .jumbotron-graphic-secondary .jumbotron-icon i {
      display: inline-block;
      color: #FFF;
      font-size: 100px;
      line-height: 100px; }
  .jumbotron-graphic-secondary .info-box-icon {
    margin-right: 20px; }
  .jumbotron-graphic-secondary .jumbotron-content {
    color: #666;
    float: left;
    width: 70%;
    margin-top: 0;
    vertical-align: middle; }
    .jumbotron-graphic-secondary .jumbotron-content h2 {
      float: left;
      font-size: 30px;
      line-height: 65px;
      font-weight: 100;
      color: #666; }
    .jumbotron-graphic-secondary .jumbotron-content p.counter {
      float: right;
      font-size: 60px;
      margin-top: 25px;
      color: #666; }

/* logo */
.navbar .logo-box {
  background: #ffffff;
  /*white*/ }

/* logo layout fix for devices under 767px, makes mobile header all blue */
@media (max-width: 767px) {
  .navbar .logo-box a {
    display: block;
    width: 100%;
    height: 100%; }
  .navbar .logo-box img {
    height: 25px;
    width: 128px;
    margin-top: 15px; } }

.navbar .logo-box img {
  height: 25px;
  width: 128px;
  margin: 15px 0 0 15px; }

.navbar {
  z-index: 9999; }

/* bump of size of Nav Tabs  */
ul.nav-tabs li a {
  font-size: 16px;
  line-height: 30px; }

/* Resets */
.menu {
  background: none; }

.menu.accordion-menu > li > a:hover,
.menu.accordion-menu > li > a:active {
  background: none; }

.menu.accordion-menu > li.active > a {
  background: none; }

/* sidebar */
.sidebar {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0089c7+0,00a896+100 */
  background: #0089c7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0089c7 0%, #00a896 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0089c7 0%, #00a896 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0089c7 0%, #00a896 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089c7', endColorstr='#00a896',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .sidebar ul li {
    background: rgba(255, 255, 255, 0);
    color: white; }
    .sidebar ul li:hover {
      background: rgba(255, 255, 255, 0.1); }
    .sidebar ul li a {
      color: #ffffff; }
      .sidebar ul li a span {
        color: #ffffff; }
      .sidebar ul li a p {
        font-size: 14px;
        font-weight: 900;
        color: #ffffff; }
  .sidebar .bg-graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 366px;
    width: auto;
    background: url("/images/sidebar-bgimage-table.png") center center;
    opacity: .1;
    z-index: -1; }

.menu.accordion-menu > li.active > a {
  background: rgba(255, 255, 255, 0.3); }

/* Make the sidebar wider */
.page-sidebar {
  width: 200px; }

/* Make the sidebar wider */
.menu.accordion-menu {
  width: 200px; }

/* hide the File Uploader by default */
#moderntheme_fileupload {
  display: none; }

/* issue179 Events Page : Re-styling the droppable uploader ui*/
.droppable {
  border: 1px solid #cccccc;
  min-height: 200px;
  background: url("/assets/plugins/moderntheme/images/upload.png") no-repeat center center; }

.input_image_container {
  /*border:1px solid lime;*/ }

.droppable {
  position: relative;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 1em; }

.droppable .label-clickable {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none; }

.droppable img.image-preview {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  max-height: 600px; }

/* Standardize all the inputs and buttons to the same height */
.form-control {
  height: 50px;
  font-size: 15px; }

.input-group .btn {
  height: 50px;
  padding: 0 20px; }

.input-group, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  height: 50px; }

/* Standardize all inputs hover, active, and focus states */
.input-group input:hover {
  border: 1px solid #999; }

.input-group input:active, .input-group input:focus {
  border: 1px solid #2BABE4; }

/* Modal - New Page */
#new-page-modal .modal-dialog label {
  margin-top: 10px;
  margin-bottom: 5px; }

#new-page-modal .modal-dialog input {
  border: 1px solid #dce1e4;
  display: block;
  float: left;
  width: 100%;
  min-height: 40px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  margin-bottom: 10px; }

/* Place a logo next to the title of the site */
.page-title .logo {
  float: left;
  margin-top: 30px;
  margin-right: 20px; }
  @media screen and (max-width: 991px) {
    .page-title .logo {
      margin-top: 10px; } }
  .page-title .logo img {
    height: 100px;
    width: 100px; }

/* Page Title background images */
.page-title {
  min-height: 160px;
  background: url("/images/pagetitle-clouds.jpg") center center no-repeat;
  background-size: cover; }
  .page-title h3 {
    color: #ffffff;
    font-size: 50px;
    line-height: 160px;
    font-weight: 500; }
    @media screen and (max-width: 991px) {
      .page-title h3 {
        margin-top: 30px;
        font-size: 30px;
        line-height: 60px; } }

/* Custom Page Title Background Images */
.page-title.media {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-media.jpg") center center no-repeat;
  background-size: cover; }

.page-title.documents {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-documents.jpg") center center no-repeat;
  background-size: cover; }

.page-title.images {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-images.jpg") center center no-repeat;
  background-size: cover; }

.page-title.videos {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-videos.jpg") center center no-repeat;
  background-size: cover; }

.page-title.helpcenter {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-helpcenter.jpg") center center no-repeat;
  background-size: cover; }

.page-title.bluehoundkitchen {
  background: url("../plugins/moderntheme/images/pagetitle/pagetitle-bluehoundkitchen-4.jpg") center center no-repeat;
  background-size: cover; }

/* Analytics Page */
.analytics-container {
  /*width: 50%;*/
  margin: 0 auto; }

#chart-container {
  display: block;
  margin: 2rem auto;
  width: 100%;
  height: auto; }

#embed-api-auth-container:nth-child(1) {
  display: none; }

.view-selector-container {
  display: none; }

#top-pages-list tbody tr td:nth-child(1) {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* issue179 Events Page : contraint the size of the event image preview in the table */
tr.collection .collection-field-content img {
  height: 60px;
  max-width: 80px; }

/* issue179 Events Page : contraint the size of the event image preview in the show page */
.collection dd img {
  max-width: 100%;
  max-height: 600px;
  margin: 1em auto; }

/* LOG IN Page*/
/* background color */
.page-login .page-content .page-inner,
.page-forgot .page-content .page-inner,
.page-register .page-content .page-inner,
.page-lock-screen .page-content .page-inner {
  background: url("../images/graphic-login.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

/* change log in box background color */
.login-box {
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  /*max-width: 600px;
  min-width: 320px;*/ }

/* Resize logo to fix inside login box */
.logo-suiteh-login {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

/* Site Settings Page */
.form-control.redirect-field {
  width: 40%;
  margin-right: 20px; }

ul.redirect-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

ul.redirect-list .old-url {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  height: 50px; }

ul.redirect-list .new-url {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  height: 50px; }

/* Users Contributors Page */
.users_list__item {
  border: 1px solid #dddddd;
  padding: 1em;
  margin-bottom: 1em; }

#table-users img {
  max-width: 100%;
  border-radius: 50%;
  margin-right: 1em; }

#table-users td {
  vertical-align: middle;
  /*Previously had been !important*/
  padding: 10px auto;
  line-height: 50px; }

/* Login Page */
.page-login .page-content .page-inner {
  background: url("../images/titlecard-login.jpg") center center no-repeat;
  background-size: cover;
  background-color: #3FA8CF; }

.page-login #main-wrapper {
  background-color: transparent;
  margin: 100px auto 0 auto; }

/* Theme Page */
/* "Your Current Theme" image preview and description */
.theme-details {
  margin-bottom: 100px; }
  .theme-details .theme-details-thumb img {
    max-width: 100%;
    border: 2px solid #333; }
  .theme-details .theme-details-content {
    padding: 0 20px; }

.form-section {
  border: 1px dashed red;
  padding: 0; }
  .form-section #live-form {
    padding: 0 !important; }
  .form-section #form_content {
    padding: 20px;
    border: 1px solid red; }
    .form-section #form_content .input_complex_container {
      float: left; }
    .form-section #form_content .btn {
      float: right;
      margin-bottom: 20px; }

#page-list-view {
  width: 100%; }

#page-list-view li {
  background: transparent; }

#page-list-view .jstree-anchor {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding-top: 7px; }

#page-list-view li.jstree-node.jstree-open {
  margin-left: -24px;
  width: 100%; }

#page-list-view li.jstree-node.jstree-open i.jstree-icon.jstree-ocl {
  position: absolute;
  left: 36px;
  height: 40px;
  width: 32px;
  margin-top: 8px;
  display: none; }

#page-list-view li.jstree-node.jstree-open i.jstree-icon.jstree-ocl:before {
  content: "\2212";
  font-family: "Glyphicons Halflings";
  font-style: normal; }

#page-list-view li.jstree-node.jstree-open i.jstree-icon.jstree-ocl + a {
  margin-left: 24px;
  padding-left: 32px; }

#page-list-view li.jstree-node.jstree-closed {
  margin-left: -24px;
  width: 100%; }

#page-list-view li.jstree-node.jstree-closed i.jstree-icon.jstree-ocl {
  position: absolute;
  left: 36px;
  height: 40px;
  width: 32px;
  margin-top: 8px;
  display: none; }

#page-list-view li.jstree-node.jstree-closed i.jstree-icon.jstree-ocl:before {
  content: "\2b";
  font-family: "Glyphicons Halflings";
  font-style: normal; }

#page-list-view li.jstree-node.jstree-closed i.jstree-icon.jstree-ocl + a {
  margin-left: 24px;
  padding-left: 32px; }

#page-list-view li.jstree-node.jstree-leaf i.jstree-icon.jstree-ocl {
  display: none; }

#page-list-view .jstree-container-ul.jstree-children {
  margin: 0 5% 0 20px;
  padding-bottom: 40px; }

#page-list-view .jstree-icon.jstree-ocl {
  background: transparent; }

#page-list-view .jstree-icon.jstree-themeicon {
  background: transparent; }

#page-list-view .jstree-icon.jstree-themeicon:before {
  content: '\e118';
  font-family: "Glyphicons Halflings";
  font-style: normal; }

#page-list-view .jstree-node.jstree-leaf a .jstree-icon.jstree-themeicon:before {
  content: '\e022';
  font-style: normal; }

#page-list-view .jstree-node.jstree-leaf.jstree-last a .jstree-icon.jstree-themeicon {
  width: 0;
  height: 0;
  line-height: 0;
  padding-left: 5px;
  font-weight: bold; }

#page-list-view .jstree-node.jstree-leaf.jstree-last a .jstree-icon.jstree-themeicon:before {
  display: none; }

.page-icon-l {
  margin-right: 5px; }

/* Context Menu Styles */
.vakata-context li a i {
  width: 0; }

.vakata-context li a i:empty {
  width: 0; }

ul.vakata-context {
  background: none;
  border: none;
  box-shadow: none; }

.vakata-context li {
  display: inline-block; }

.vakata-context li a span.vakata-contextmenu-sep {
  display: none; }

#page-tree-view .jstree-icon.jstree-themeicon {
  background: transparent; }

#page-tree-view .jstree-icon.jstree-themeicon:before {
  content: '\e118';
  font-family: "Glyphicons Halflings";
  font-style: normal; }

#page-tree-view .jstree-node.jstree-leaf a .jstree-icon.jstree-themeicon:before {
  content: '\e022';
  font-style: normal; }

#page-tree-view .jstree-node.jstree-leaf.jstree-last a .jstree-icon.jstree-themeicon {
  width: 0;
  height: 0;
  line-height: 0;
  padding-left: 5px;
  font-weight: bold; }

#page-tree-view .jstree-node.jstree-leaf.jstree-last a .jstree-icon.jstree-themeicon:before {
  display: none; }
